#wrap {
    width: 100%;
}

/* JS */
.info_mn1 li a.on {
    color: rgb(53, 197, 240);
}

.nav_in li a.on {
    color: rgb(53, 197, 240);
    border-bottom: 2px solid rgb(53, 197, 240);
    padding-bottom: 15px;
}

/* TOP */
#header {
    width: 100%;
    height: 130px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 9999;
}

#header_in {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(204, 204, 204, .5);
    border-bottom-width: 100%;
}

#group {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 80px;
    /* background-color: blanchedalmond; */
}

#group .logo {
    display: flex;
    align-items: center;
    width: 85px;
    height: 80px;
}

#group .info_mn1 {
    width: 300px;
    height: 80px;
    /* background-color: cyan; */
}

#group .info_mn1 ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

#group .info_mn1 ul li {
    font-size: 18px;
    color: #000;
}

/* #group .info_mn1 ul li:first-child a{
   color:rgb(53,197,240);
} */

#group .search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 80px;
    /* background-color: cornsilk; */
}

#group .search input {
    display: flex;
    width: 280px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 17px;
    background: url(../images/search.jpg) no-repeat;
    background-position: left;
    background-size: 60px;
}

#group .search input::placeholder {
    font-weight: bold;
    color: rgb(204, 204, 204, .5);
    text-indent: 55px;
}

#group .search input:focus {
    outline: 1px solid rgb(53, 197, 240);
}


#group .info_mn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 80px;
    /* background-color: azure; */
}

#group .info_mn2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    font-size: 13px;
}

#group .info_mn2 ul li:nth-child(1) div {
    width: 35px;
    height: 35px;
    background: url(../images/cart.png) no-repeat;
    background-size: 35px 35px;
}

#group .info_mn2 ul li:nth-child(2)::after {
    content: "|";
    margin-left: 17px;
    margin-right: 4px;
}

#group .info_mn2 ul li:nth-child(3)::after {
    content: "|";
    margin-left: 17px;
}

#group .info_mn2 ul li:nth-child(5) div {
    width: 95px;
    height: 40px;
    background-color: rgb(53, 197, 240);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    color: #fff;
    border-radius: 4px;
}


#nav {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(204, 204, 204, .5);
    border-bottom-width: 100%;
}

#nav .nav_in {
    margin: 0 auto;
    width: 1140px;
    height: 60px;
}

#nav ul {
    width: 775px;
    display: flex;
    justify-content: space-between;
    line-height: 49px;
}

#nav ul li {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

/* #nav ul li:first-child{
    border-bottom: 2px solid rgb(53,197,240);
} */

/* #nav ul li:first-child a{
    color:rgb(53,197,240);
} */


/* MAIN IMG */

#main_img {
    width: 100%;
    height: 615px;
}

#main_img .img_box {
    margin: 0 auto;
    width: 1140px;
    height: 615px;
}

#main_img .img_box>ul {
    display: flex;
    justify-content: space-between;
}

#main_img .img_box .main1 {
    width: 845px;
    height: 565px;
    border-radius: 6px;
}

#main_img .img_box .main2_list {
    width: 270px;
    height: 565px;
    overflow: hidden;
    display: flex;
    position: relative;
}

#main_img .img_box .main2_list li {
    position: absolute;
}

#main_img .img_box .main2 {
    width: 270px;
    height: 565px;
    border-radius: 6px;
}

#main_img .img_box .main2_list li:nth-child(1) {
    left: 0%;
    top: -25px;
}

#main_img .img_box .main2_list li:nth-child(2) {
    left: 100%;
    top: -25px;
}

#main_img .img_box .main2_list li:nth-child(3) {
    left: 200%;
}

#main_img .img_box .main2_list li:nth-child(4) {
    left: 300%;
}

#main_img .img_box .main2_list li:nth-child(5) {
    left: 400%;
}


#main_img .img_box ul li:nth-child(1) {
    width: 845px;
    height: 565px;
    margin-top: 25px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

#main_img .img_box .main1:hover {
    transform: scale(1.1);
    transition: .3s;
}

#main_img .img_box ul li:nth-child(2) {
    width: 270px;
    height: 565px;
    margin-top: 25px;
}

#main_img .img_box .text {
    position: absolute;
    bottom: 40px;
    left: 30px;
    color: #fff;
}

#main_img .img_box .text h1 {
    font-size: 35px;
}

#main_img .img_box .text p {
    margin-top: 5px;
    font-size: 20px;
}

#main_img .img_box .btn {
    width: 330px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -310px;
    right: 30px;
    z-index: 11;
}

#main_img .img_box .btn button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #fff;
    box-shadow: 1px 1px gray;
}

#main_img .img_box .btn button:hover {
    background-color: rgb(236, 236, 236);
}

#main_img .img_box .btn button a {
    font-size: 30px;
    display: block;
}



/* CONTENTS */

#contents {
    width: 100%;
    height: 3400px;
    display: flex;
    flex-direction: column;
}

#contents .con_mn {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1140px;
    height: 140px;
}

#contents .con_mn section {
    width: 1140px;
    height: 90px;
}

#contents .con_mn section ul {
    display: flex;
    justify-content: space-around;
}

#contents .con_mn section ul li {
    width: 75px;
    height: 90px;
    display: flex;
    text-align: center;
    line-height: 30px;
}

#contents .con_mn section ul a {
    font-size: 15px;
}

#contents .story {
    margin: 0 auto;
    width: 1140px;
    height: 380px;
    margin-top: 35px;
}

#contents .story .st_header {
    width: 1140px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 12px;
}

#contents .story .group {
    width: 1140px;
    height: 320px;
    display: flex;
    justify-content: space-between;
}

#contents .story .st_pic {
    width: 850px;
    height: 320px;
}

#contents .story .st_pic ul {
    display: flex;
    justify-content: space-between;
}

#contents .story .st_pic ul .li1 {
    width: 270px;
    height: 180px;
    border-radius: 6px;
    overflow: hidden;
}

#contents .story .st_pic ul .li2 {
    margin: 0 auto;
    width: 250px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
}

#contents .story .st_pic ul .li2 p {
    margin-top: 8px;
}

#contents .story .st_mn {
    width: 270px;
    height: 320px;
}

#contents .story .st_mn ul {
    width: 270px;
    height: 320px;
    display: flex;
    flex-direction: column;
}

#contents .story .st_mn ul li {
    width: 270px;
    height: 115px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    background-color: rgb(204, 204, 204, .3);
}

#contents .story .st_mn ul li:hover {
    background-color: rgb(204, 204, 204);
    ;
}

#contents .story .st_mn ul li:first-child {
    border-radius: 4px 4px 0 0;
}

#contents .story .st_mn ul li:last-child {
    border-radius: 0 0 4px 4px;
    margin-bottom: 0;
}

#contents .story .st_mn ul li p {
    margin: 30px 0 10px 20px;
}

#contents .story .st_mn ul li h3 {
    margin: 0 0 10px 20px;
}

#contents .category {
    margin: 0 auto;
    width: 1140px;
    height: 210px;
    margin-top: 20px;
}

#contents .category div {
    width: 1140px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 20px;
}

#contents .category ul {
    display: flex;
    justify-content: space-around;
}

#contents .category ul li {
    width: 85px;
    height: 85px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

#contents .category ul li img {
    width: 85px;
    height: 85px;
}

#contents .deal {
    margin: 0 auto;
    width: 1140px;
    height: 500px;
    margin-top: 35px;
}

#contents .deal div {
    width: 1140px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 12px;
}

#contents .deal ul {
    display: flex;
    justify-content: space-between;
}

#contents .deal ul li {
    width: 270px;
    height: 375px;
    line-height: 21px;
}

#contents .deal ul li img {
    width: 270px;
    height: 270px;
    border-radius: 6px;
}

#contents .deal ul li .name {
    font-size: 14px;
}

#contents .deal ul li b {
    color: rgb(255, 119, 119);
    font-size: 13px;
}

#contents .deal ul li h3 {
    font-size: 17px;
    letter-spacing: 0.5px;
}

#contents .deal ul li c1 {
    color: rgb(53, 197, 240);
}

#contents .ad {
    margin: 0 auto;
    width: 1140px;
    height: 150px;
    margin-top: 20px;
}

#contents .ad img {
    margin: 0 auto;
    width: 1140px;
    height: 80px;
    margin-top: 35px;
    border-radius: 4px;
}

#contents .pic {
    margin: 0 auto;
    width: 1140px;
    height: 310px;
    margin-top: 50px;
}

#contents .pic div {
    width: 1140px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 40px;
}

#contents .pic div p {
    margin-top: 5px;
    font-size: 15px;
}

#contents .pic ul {
    display: flex;
    justify-content: space-between;
}

#contents .pic ul li>div {
    width: 175px;
    height: 230px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

#contents .pic ul li img {
    width: 175px;
    height: 230px;
}

#contents .pic ul li img:hover {
    transform: scale(1.1);
    transition: .5s;
}

#contents .pic ul li .text {
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: #fff;
    font-size: 15px;
}

#contents .plan {
    margin: 0 auto;
    width: 1140px;
    height: 300px;
    margin-top: 50px;
}

#contents .plan section>div {
    width: 1140px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 20px;
}

#contents .plan ul {
    display: flex;
    justify-content: space-between;
}

#contents .plan ul li {
    width: 270px;
    height: 240px;
    border-radius: 5px;
    line-height: 28px;
}

#contents .plan ul li .box {
    width: 270px;
    height: 180px;
    border-radius: 5px;
    overflow: hidden;
}

#contents .plan ul li img {
    width: 270px;
    height: 180px;
    border-radius: 5px;
}

#contents .plan ul li img:hover {
    transform: scale(1.1);
    transition: .5s;
}

#contents .plan ul li p {
    margin-top: 8px;
    font-size: 14px;
}

#contents .plan ul li h4 {
    font-size: 16px;
}

#contents .review {
    margin: 0 auto;
    width: 1140px;
    height: 500px;
    margin-top: 80px;
}

#contents .review section>div {
    width: 1140px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 20px;
}

#contents .review ul {
    display: flex;
    justify-content: space-between;
}

#contents .review ul li {
    width: 365px;
    height: 360px;
    line-height: 25px;
}

#contents .review ul li .box {
    width: 365px;
    height: 240px;
    border-radius: 5px;
    overflow: hidden;
}

#contents .review ul li img {
    width: 365px;
    height: 240px;
    border-radius: 5px;
}

#contents .review ul li img:hover {
    transform: scale(1.1);
    transition: .5s;
}

#contents .review ul li h4 {
    margin-top: 10px;
    font-size: 16px;
}

#contents .review ul li p {
    margin-top: 3px;
    font-size: 16px;
}

#contents .best {
    margin: 0 auto;
    width: 1140px;
    height: 620px;
    margin-top: 10px;
}

#contents .best section .header {
    width: 1140px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 15px;
}

#contents .best .nav {
    width: 1140px;
    height: 35px;
}

#contents .best .nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

#contents .best .nav ul li {
    text-align: center;
    width: 60px;
    height: 20px;
    padding: 7px 0 7px 0;
    margin-top: 5px;
    background-color: rgb(247, 249, 250);
    border-radius: 20px;
}

#contents .best .nav ul li:hover {
    background-color: rgb(234, 237, 239);
}

#contents .best .product {
    display: flex;
    justify-content: space-between;
}

#contents .product li {
    width: 365px;
    height: 510px;
    margin-top: 20px;
    line-height: 21px;
}

#contents .product li img {
    width: 365px;
    height: 365px;
    border-radius: 6px;
}

#contents .product .name {
    font-size: 14px;
}

#contents .product li b {
    color: rgb(255, 119, 119);
    font-size: 13px;
}

#contents .product li h3 {
    font-size: 17px;
    letter-spacing: 0.5px;
}

#contents .product li c1 {
    color: rgb(53, 197, 240);
}

/* FOOTER */
footer {
    width: 100%;
    height: 325px;
    background-color: rgb(247, 249, 250);
}

#footer_in {
    width: 1140px;
    height: 325px;
    margin: 0 auto;
}

#footer_in .sns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    float: right;
    width: 210px;
}

#footer_in .sns li {
    display: flex;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

#footer_in .cs {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    padding-top: 30px;
}

#footer_in .cs h2 {
    font-size: 25px;
}

#footer_in .info_mn {
    display: flex;
    justify-content: space-between;
    width: 800px;
    font-size: 10px;
    margin-top: 30px;
}

#footer_in .address {
    display: flex;
    justify-content: space-between;
    width: 950px;
    font-size: 10px;
    margin-top: 5px;
}

#footer_in .copyright {
    margin-top: 30px;
}